<h4>Add Key Value Pair</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">Add Key Value Pair</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="col-md-4">
                <mat-form-field>
                <input matInput type="text"  name="KeyType" [(ngModel)]="KeyValuePairModel.KeyType" placeholder="Key Type"
                    maxlength="50" #refKeyType="ngModel" id="KeyType" required>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                <input matInput type="text" placeholder="Key Code" name="MemberMName" [(ngModel)]="KeyValuePairModel.KeyCode"
                    maxlength="50" #refKeyCode="ngModel" id="KeyCode" required>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                
                <mat-form-field>
                <input matInput type="text" placeholder="Key Name" name="KeyName" [(ngModel)]="KeyValuePairModel.KeyName"
                    maxlength="50" #refKeyName="ngModel" id="KeyName" required>
                </mat-form-field>
            </div>


            <div class="col-md-4">
                <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" mat-flat-button>Submit</button>
                <a mat-flat-button style="margin-left: 10px; margin-top:7px;"  [routerLink]="['/KeyValuePair/All']">
                    All Member </a>
            </div>
        </form>
    </div>
</div>