<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login</title>
</head>

<body>
  <main style="padding-top: 4rem">
    <!-- <div class="parallax-container">
      <div class="parallax"><img src="/assets/images/gymbg.jpg">
      </div> -->
    <section id="login">
      <div class="container">
        <div class="row">
          <div class="col col-md-12">
            <div class="brand-logo mx-auto">
              <img class="responsive-img" style="width: 250px;" src="/assets/images/logo.png" />
            </div>
            <!-- <div class="login-form"> -->
              <div class="row">
                <div class="col col-md-6 col-md-offset-3  col-sm-12">
                  <mat-card>
                    <mat-card-title>Log In</mat-card-title>
                    <div class="divider"></div>
                    <form  #f="ngForm" novalidate (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">
                      <mat-form-field>
                        <input autofocus matInput type="text" placeholder="Username" name="Username" [(ngModel)]="LoginModel.Username" maxlength="50"
                                            #refUsername="ngModel" id="Username" required>
                        <!-- <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)" class="alert alert-danger">
                                      <div [hidden]="!refUsername.errors.required">
                                              Username is required
                                      </div>
                                  </div> -->
                      </mat-form-field>
                      <mat-form-field>
                        <input autofocus matInput type="password" placeholder="Password" name="Password" [(ngModel)]="LoginModel.Password" maxlength="50"
                        #refPassword="ngModel" id="Password" required>
                        <!-- <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                                  <div [hidden]="!refPassword.errors.required">
                                          Password is required
                                  </div>
                              </div> -->
                      </mat-form-field>
                      <label style='float: right;'>
                        <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                      </label>
                      <div style="text-align: center;">
                        <div class='row'>
                          <button type="submit" [disabled]="!f.form.valid"
                            class="col s12 btn btn-large waves-effect indigo">Login</button>
                        </div>
                      </div>
                    </form>
                  </mat-card>
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- </div> -->

  </main>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>