body {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .login-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  .brand-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
