<!-- <app-list 
    [dataSource]="dataSource" 
    [totalCount]="totalCount"
    (onPageSwitch)="switchPage($event)"
    (Delete)="Delete($event)"
    ></app-list> -->
    <app-list 
    [dataSource]="dataSource" 
    [totalCount]="totalCount"
    (onPageSwitch)="switchPage($event)"
    ></app-list>

