<div class="row">
  <div class="col-md-11">
    <h4>All Service </h4>
  </div>
  <div class="col-md-1">
    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Service/Add']">
      <i class="fa fa-plus"></i> </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- ServiceID Column -->
        <ng-container matColumnDef="ServiceId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ServiceId </th>
          <td mat-cell *matCellDef="let element"> {{element.ServiceId}} </td>
        </ng-container>
        <!-- ServiceName Column -->
        <ng-container matColumnDef="ServiceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ServiceName </th>
          <td mat-cell *matCellDef="let element"> {{element.ServiceName}} </td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>
        <!-- Createddate Column -->
        <ng-container matColumnDef="CreatedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Createddate </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
        </ng-container>
        <!-- EditAction Column -->
        <ng-container matColumnDef="EditAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> <a class="btn btn-info"
              [routerLink]="['/Service/Edit/',element.ServiceId]"><i class="fa fa-edit fa-fw"></i>
              Edit</a> </td>
        </ng-container>
        <!-- DeleteAction Column -->
        <ng-container matColumnDef="DeleteAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-info" (click)="Delete(element.ServiceId)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>