<h4>Edit Service</h4>

<hr>


<div class="panel panel-default">
    <div class="panel-heading">Edit</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <input type="hidden" name="ServiceId" [(ngModel)]="ServiceForms.ServiceId" id="ServiceId">
            <div class="row">
                <div class="col-md-3">
                    <label for="name">ServiceName</label>
                    <input type="text" [disabled]="true" class="form-control" name="ServiceName" [(ngModel)]="ServiceForms.ServiceName"
                        maxlength="50" #refServiceName="ngModel" id="ServiceName" required>
                    <div *ngIf="!refServiceName.valid  && (refServiceName.dirty || refServiceName.touched)" class="alert alert-danger">
                        <div [hidden]="!refServiceName.errors.required">
                            ServiceName is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="name">Status</label>
                    <br>
                    <input style="margin-top: 10px" type="checkbox" name="Status" [(ngModel)]="ServiceForms.Status"
                        maxlength="50" #refStatus="ngModel" id="ServiceName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Submit</button>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Service/All']">
                        All Service </a>
                </div>
            </div>
        </form>
    </div>
</div>