<h4>Add Plan</h4>
<hr>
<mat-card>
    <div class="row">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <input type="text" placeholder="Select Member"  name="MemberId" aria-label="Member" matInput [formControl]="memberCtrl"  [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let item of members" [value]="item">
                        {{ item.MemberNo }} - {{item.MemberName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <input matInput type="text" name="SubscriptionName" [(ngModel)]="subsriptionModel.SubscriptionName"
                        placeholder="Subscription Name" maxlength="50" #refKeyType="ngModel" id="SubscriptionName"
                        required>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field  class="full-width">
                    <input matInput type="text" name="SubscriptionAmount"
                        [(ngModel)]="subsriptionModel.SubscriptionAmount" placeholder="Subscription Amount"
                        maxlength="50" #refKeyType="ngModel" id="SubscriptionAmount" required>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field  class="full-width">
                    <select matNativeControl required aria-placeholder="Period" name="PeriodID" #refgender="ngModel"
                        [(ngModel)]="subsriptionModel.PeriodID">
                        <option value=''>Please select Service</option>
                        <option *ngFor="let period of PeriodList" [ngValue]="period.PeriodID">
                            {{period.Text}}
                        </option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field  class="full-width">
                    <select matNativeControl required aria-placeholder="Service" name="ServiceID" #refgender="ngModel"
                        [(ngModel)]="subsriptionModel.ServiceID">
                        <option value=''>Please select Service</option>
                        <option *ngFor="let service of AllActiveServiceList" [ngValue]="service.Key">
                            {{service.Value}}
                        </option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info">
                    <i class="fa fa-plus"></i> </a>
            </div>
            <hr/>
            <div class="col-md-12">
                grid here
            </div>
            <div class="col-md-12" style="text-align:right">
                <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid"
                    class="btn btn-success">Submit</button>
                <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Plan/All']">
                    All Plans </a>
            </div>
        </form>
    </div>
</mat-card>