<script src="../../../node_modules/jspdf/dist/jspdf.debug.js"></script>

<div style="margin-top:10px;" class="row">
  <div class="col-md-4">
    <input type="button" value="Print" class="btn btn-default" (click)="captureScreen()" />
  </div>
</div>
<div style="margin-top:20px;" id="print">
    <!-- <form #f="ngForm" novalidate (ngSubmit)="onSubmit()"> -->
  <form #f="ngForm" novalidate>
    <div style="margin-top:20px;"  class="row">
      <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
        <div class="row">
          <div class="text-center text-danger">
            <em>
              <h1><strong>DOT&NET GYM </strong></h1>
            </em>
            <hr>
            <em>
              <h6>Recepit</h6>
            </em>
            <hr>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <p>
              <b>Name :- </b> <em>{{GenerateRecepitViewModel.MemberName}}</em>
            </p>

            <address>

              <br>
              <em> <strong>From :- </strong>{{GenerateRecepitViewModel.PaymentFromdt}} </em>
              <br>
              <em> <strong>To :- </strong> {{GenerateRecepitViewModel.PaymentTodt}} </em>
              <br>

            </address>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 text-right">
            <p>
              <em><strong>Date:</strong> {{today | date:'fullDate'}}</em>
            </p>
            <p>
              <em> <strong>MemberId </strong> #: {{GenerateRecepitViewModel.MemberNo}}</em>
            </p>
            <p>
              <em> <strong>Next Renewal date</strong> #: {{GenerateRecepitViewModel.NextRenwalDate}}</em>
            </p>
          </div>
        </div>
        <div class="row">


          <table class="table table-hover">
            <thead>
              <tr>
                <th>Srno.</th>
                <th style="text-align: center">Service</th>
                <th style="text-align: center">Plan</th>
                <th class="text-center"></th>
                <th class="text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-md-1"><em>1</em>
                </td>
                <td class="col-md-5" style="text-align: center"> {{GenerateRecepitViewModel.ServiceName}} </td>
                <td class="col-md-4" style="text-align: center"> {{GenerateRecepitViewModel.PlanName}} </td>
                <td class="col-md-1 text-center"></td>
                <td class="col-md-1 text-center">{{GenerateRecepitViewModel.PlanAmount}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">
                  <p>
                    <strong>Subtotal:</strong>
                  </p>
                  <p>
                    <strong>Tax:</strong>
                  </p>
                </td>
                <td class="text-center">
                  <p>
                    <strong>{{GenerateRecepitViewModel.ServicetaxAmount}}</strong>
                  </p>
                  <p>
                    <strong>{{GenerateRecepitViewModel.ServiceTax}}</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">
                  <h4><strong>Total:</strong></h4>
                </td>
                <td class="text-center text-danger">
                  <h4><strong>{{GenerateRecepitViewModel.PaymentAmount}}</strong></h4>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </form>
</div>
