<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<h4>Add Member</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">Add Member</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="col-md-4">
                <mat-form-field>
                <input matInput type="text"  name="MemberFName" [(ngModel)]="MemberModel.MemberFName" placeholder="First Name"
                    maxlength="50" #refMemberFName="ngModel" id="MemberFName" required>
                </mat-form-field>
                <!-- <div *ngIf="!refMemberFName.valid  && (refMemberFName.dirty || refMemberFName.touched)" class="alert alert-danger">
                    <div [hidden]="!refMemberFName.errors.required">
                        First Name is required
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <!-- <label for="name">Last Name</label> -->
                
                <mat-form-field>
                <input matInput type="text" placeholder="Last Name" name="MemberLName" [(ngModel)]="MemberModel.MemberLName"
                    maxlength="50" #refMemberLName="ngModel" id="MemberLName" required>
                </mat-form-field>
                <!-- <div *ngIf="!refMemberLName.valid  && (refMemberLName.dirty || refMemberLName.touched)" class="alert alert-danger">
                    <div [hidden]="!refMemberLName.errors.required">
                        Last Name is required
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <!-- <label for="name">Middle Name</label> -->
                <mat-form-field>
                <input matInput type="text" placeholder="Middle Name" name="MemberMName" [(ngModel)]="MemberModel.MemberMName"
                    maxlength="50" #refMemberMName="ngModel" id="MemberMName" required>
                  </mat-form-field>
                <!-- <div *ngIf="!refMemberMName.valid  && (refMemberMName.dirty || refMemberMName.touched)" class="alert alert-danger">
                    <div [hidden]="!refMemberMName.errors.required">
                        Middle Name is required
                    </div>
                </div> -->
            </div>

            <div class="col-md-4">
                <!-- <label for="name">JoiningDate</label> -->
                <mat-form-field>
                <input matInput [(ngModel)]="MemberModel.JoiningDate" placeholder="Joining Date" name="JoiningDate"  id="JoiningDate" onkeypress="return false;" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                    #refJoiningDate="bsDatepicker" [minDate]="joinminDate" [maxDate]="joinmaxDate" bsDatepicker required>
                </mat-form-field>
                <!-- <div *ngIf="!refJoiningDate.valid  && (refJoiningDate.dirty || refJoiningDate.touched)" class="alert alert-danger">
                    <div [hidden]="!refJoiningDate.errors.required">
                        Joining Date is required
                    </div>
                </div> -->
            </div>


            <div class="col-md-4">
                <!-- <label for="name">Date of Birth</label> -->
                <mat-form-field>
                <input matInput [(ngModel)]="MemberModel.Dob" placeholder="Date Of Birth" name="Dob" id="Dob" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" onkeypress="return false;"
                    (bsValueChange)="CalcuateAge($event)" [maxDate]="dobminDate"  #refDob="bsDatepicker" bsDatepicker required>
                </mat-form-field>

                <!-- <div *ngIf="!refDob.valid  && (refDob.dirty || refDob.touched)" class="alert alert-danger">
                    <div [hidden]="!refDob.errors.required">
                        Date of Birth is required
                    </div>
                </div> -->
            </div>

            <div class="col-md-4">
                <!-- <label for="name">Age</label> -->
                <mat-form-field>
                <input matInput type="text" placeholder="Age" name="Age" [disabled]="true" [(ngModel)]="MemberModel.Age" maxlength="50" #refAge="ngModel"
                    id="Age" required>
                </mat-form-field>
                <!-- <div *ngIf="!refAge.valid  && (refAge.dirty || refAge.touched)" class="alert alert-danger">
                    <div [hidden]="!refAge.errors.required">
                        Age is required
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <!-- <label for="name">EmailId</label> -->
                <mat-form-field>
                <input matInput type="text" placeholder="EmailId"  name="EmailId" [(ngModel)]="MemberModel.EmailId" maxlength="50"
                    #refEmailId="ngModel" id="EmailId" required>
                </mat-form-field>
                <!-- <div *ngIf="!refEmailId.valid  && (refEmailId.dirty || refEmailId.touched)" class="alert alert-danger">
                    <div [hidden]="!refEmailId.errors.required">
                        EmailId is required
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <!-- <label for="name">Gender</label> -->
                <mat-form-field>
                <select matNativeControl required aria-placeholder="Gender" name="Gender" #refgender="ngModel"  [(ngModel)]="MemberModel.Gender">
                    <option value=''>Please select Gender</option>
                    <option *ngFor="let gender of genderList" [ngValue]="gender.id">
                        {{gender.name}}
                    </option>
                </select>                
            </mat-form-field>
                <!-- <div *ngIf="!refgender.valid  && (refgender.dirty || refgender.touched)" class="alert alert-danger">
                    <div [hidden]="!refgender.errors.required">
                        Gender is required
                    </div>
                </div> -->
            </div>
            <!-- <div class="col-md-4">
                <label>Service</label>
                <select required name="ServiceID" #refServiceID="ngModel" (ngModelChange)="OnChange($event)" class="form-control"
                    [(ngModel)]="MemberModel.ServiceID">
                    <option value=''>Please select Service</option>
                    <option *ngFor="let Service of AllActiveServiceList" [ngValue]="Service.ServiceID">
                        {{Service.ServiceName}}
                    </option>
                </select>
                <div *ngIf="!refServiceID.valid  && (refServiceID.dirty || refServiceID.touched)" class="alert alert-danger">
                    <div [hidden]="!refServiceID.errors.required">
                        Service is required
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <label>PlanName</label>
                <select required name="PlanID" #refPlanID="ngModel" class="form-control" (ngModelChange)="GetAmount(refPlanID.value,refServiceID.value)"
                    [(ngModel)]="MemberModel.PlanID">
                    <option value=''>Please select Plan</option>
                    <option *ngFor="let plan of AllActivePlanModel" [ngValue]="plan.PlanID">
                        {{plan.PlanName}}
                    </option>
                </select>
                <div *ngIf="!refPlanID.valid  && (refPlanID.dirty || refPlanID.touched)" class="alert alert-danger">
                    <div [hidden]="!refPlanID.errors.required">
                        Plan is required
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <!-- <label for="name">Contactno</label> -->
                
                <mat-form-field>
                <input matInput type="text" placeholder="Contactno" name="Contactno" [(ngModel)]="MemberModel.Contactno" maxlength="10"
                    #refContactno="ngModel" id="Contactno" required>
                    
                </mat-form-field>
                <!-- <div *ngIf="!refContactno.valid  && (refContactno.dirty || refContactno.touched)" class="alert alert-danger">
                    <div [hidden]="!refContactno.errors.required">
                        Contactno is required
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <!-- <label for="name">Address</label> -->
                <mat-form-field>
                <input matInput type="text" placeholder="Address" name="Address" [(ngModel)]="MemberModel.Address" maxlength="50"
                    #refAddress="ngModel" id="Address" required>
                </mat-form-field>
                <!-- <div *ngIf="!refAddress.valid  && (refAddress.dirty || refAddress.touched)" class="alert alert-danger">
                    <div [hidden]="!refAddress.errors.required">
                        Address is required
                    </div> 
                </div>-->
            </div>
            <!-- <div class="col-md-4">
                <label for="name">Amount</label>
                <input type="text" [disabled]="true" class="form-control" name="Amount" [(ngModel)]="MemberModel.Amount" maxlength="50"
                    #refAmount="ngModel" id="Amount" required>
                <div *ngIf="!refAmount.valid  && (refAmount.dirty || refAmount.touched)" class="alert alert-danger">
                    <div [hidden]="!refAmount.errors.required">
                        Amount is required
                    </div>
                </div>
            </div> -->

            <div class="col-md-4">
                <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" mat-flat-button>Submit</button>
                <a mat-flat-button style="margin-left: 10px; margin-top:7px;"  [routerLink]="['/Member/All']">
                    All Member </a>
            </div>
        </form>
    </div>
</div>