<h4>All AssignRoles</h4>
<hr>

<div class="row">
    <div class="col-md-12">
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">
                <ng-container matColumnDef="UserName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> UserName </th>
                    <td mat-cell *matCellDef="let element"> {{element.UserName}} </td>
                </ng-container>
                <!-- ServiceID Column -->
                <ng-container matColumnDef="RoleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RoleName </th>
                    <td mat-cell *matCellDef="let element"> {{element.RoleName}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageIndex]=0
            [pageSize]=5
            (page)="getNext($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>